@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'base/grafia.css';
@import 'base/reset.css';
@import 'layout/body.css';
@import 'layout/carossel.css';
@import 'layout/nav.css';
@import 'layout/mainsec-home.css';
@import 'layout/card.css';
@import 'layout/Filtros.css';
@import 'layout/dropdown.css';