

.slider {
    width: 680px;
    height: 382px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    margin-right: auto;

  }
  .slick-dots{
    width: 680px;
  }
  


  .slick-prev:before,
  .slick-next:before {
    color: rgb(255, 255, 255);
  }
  
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 50px !important;
    cursor: pointer;
    
  }
  
  .slick-prev {
    left: 0;
  }
  
  .slick-next {
    right: 0;
  }
  
  
  .slick-slide {
      transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }
  
  .slick-current {
    opacity: 1;
  }
  .slick-prev:before {
      content: '\2039'; /* Unicode para a seta esquerda (<) */
    }
  
    .slick-next:before {
      content: '\203A'; /* Unicode para a seta direita (>) */
    }
    .slick-prev:before, .slick-next:before {
      font-size: 50px;
    }

main{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 9vh;
  
}  

.Produto{
  background-color: rgba(18, 18, 18, 0.34);
  width: 1076px;
  height: 525px;

}
.Produto img{
  width: 375px;
  height: 221px;
  right: 0;
  margin-bottom: 16px;
}

.slick-slide img {
  width: 680px;
  height: 382px;

}
    .col-sm-4 {
     justify-content: flex-end;
     width: 375px;
    }
    .row{
      --bs-gutter-x: 0;
    }
body{
  background: linear-gradient(#5F5B8E, #000);
}
.BtFundo{
  background-color: black;
  display: flex;
  width: 452px;
  height: 58px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 26px;
  
}
.btVerde{
  background-color: rgba(68, 212, 74, 1);
  width: 75px;
  height: 49px;
  border-radius: 4px;
  font-size: 2rem;
  text-align: center;
}
.BtFundo p{
  font-size: 2rem;
  margin-right: 5%;
  margin-bottom: 0;
}
.Comprar{
  background-color: rgba(145, 135, 255, 0.34);
  width: 1076px;
  height: 116px;
  border-radius: 8px;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Comprar P{
  font-size: 3rem;
  margin: 0 0 0 2vw; 
}
.Comprar .BtFundo{
  margin-top: 13vh;
}
.ProdutoDesc{
  max-height: 96px;
  overflow: auto;
}
.ProdutoDesc::-webkit-scrollbar {
  border-radius: 50px;
  height: 8px;
  width: 8px;
}
.ProdutoDesc::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff00;
}


.ProdutoDesc::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #a9a7ba91;
}
.FundoH1{
  width: 1076px;
  margin-top: 9vh;
  display: flex;
}
