footer {
    background-color: #55527D;
    align-items: center;
    text-align: center;
}

#delta-footer {
    display: inline-flex;
    width: 80px;
    height: auto;
}

#h2-footer {
    display: inline-flex;
    size: 2%;
    font-weight: 100;
}

#p-footer {
    display: inline-flex;
}

.a-footer {
    display: block;
    text-decoration: none;
}

#div-footer {
    margin-top: -25px;
    margin-bottom: 5px;
}
