

form{
    background-color: #2e3136;
}

.fm{
    padding: 5% 10% 5% 7%;
    width: 100%;
    

}

.fr{
    width: 100%;
    background-color: #59606d;
    color: #ffffff94;
    border: none;
}

.bts{
    margin-top: 3%;
    align-items: flex-end;
    overflow: auto;
}
.linha-dupla{
    display: flex;
    justify-content: space-between;
}
.Metade{
    width: 48%;
}
.form-bts{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.deletar{
    line-height: 1.5rem;
    color: #5CA4F9;
}
.accordion-button{
    text-align: left;
}
.Adicionar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;  
    padding: 0;
    margin-bottom: 6vh;
}
.Adicionar a{
    color: #5CA4F9;
}
